<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>STRESS_REPORT</title>
<style type="text/css">
.table
{
width: 100%;
padding: 0;
margin: 0;
}
th {
font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
color: #4f6b72;
border-right: 1px solid #C1DAD7;
border-bottom: 1px solid #C1DAD7;
border-top: 1px solid #C1DAD7;
letter-spacing: 2px;
text-transform: uppercase;
text-align: left;
padding: 6px 6px 6px 12px;
background: #CAE8EA no-repeat;
}
td {
border-right: 1px solid #C1DAD7;
border-bottom: 1px solid #C1DAD7;
background: #fff;
font-size:14px;
padding: 6px 6px 6px 12px;
color: #4f6b72;
}
td.alt {
background: #F5FAFA;
color: #797268;
}
th.spec,td.spec {
border-left: 1px solid #C1DAD7;
}
/*---------for IE 5.x bug*/
html>body td{ font-size:14px;}
tr.select th,tr.select td
{
background-color:#CAE8EA;
color: #797268;
}
    h5{
        position: absolute;
        right: 5%;
        color: darkviolet;
    }
</style>

</head>

<body>
<p>查看历史测试记录</p>


<table class="table" cellspacing="0" summary="The technical specifications of the Apple PowerMac G5 series">
<tr>
<th class="spec">序号</th>
<th>历史记录</th>
</tr>
    {% for result in result_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td class="spec"><a href={% url 'stress_file_name' file_name=result %}>{{ result }}</a></td>
        </tr>
    {% endfor %}
</table>

</body>
</html>