<html>
<head>
<title>STRESS_REPORT</title>

	<script>

		function getLocalTime(nS) {
			return new Date(parseInt(nS) ).Format("yyyy-MM-dd hh:mm:ss");
		}
				Date.prototype.Format = function(fmt) {//author: meizz
			var o = {
				"M+" : this.getMonth() + 1, //月份
				"d+" : this.getDate(), //日
				"h+" : this.getHours(), //小时
				"m+" : this.getMinutes(), //分
				"s+" : this.getSeconds(), //秒
				"q+" : Math.floor((this.getMonth() + 3) / 3), //季度
				"S" : this.getMilliseconds() //毫秒
			};
			if (/(y+)/.test(fmt))
				fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
			for (var k in o)
			if (new RegExp("(" + k + ")").test(fmt))
				fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
			return fmt;
		}
    	console.log(getLocalTime(1490586664));  //2017-03-27 11:51:04
		function formatDuring(mss) {
            var days = parseInt(mss / (1000 * 60 * 60 * 24));
            var hours = parseInt((mss % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = parseInt((mss % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = (mss % (1000 * 60)) / 1000;
            return days + " 天 " + hours + " 小时 " + minutes + " 分钟 " + seconds + " 秒 ";
        }

	</script>
<style type="text/css">
.table
{
width: 100%;
padding: 0;
margin: 0;
}
th {
font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
color: #4f6b72;
border-right: 1px solid #C1DAD7;
border-bottom: 1px solid #C1DAD7;
border-top: 1px solid #C1DAD7;
letter-spacing: 2px;
text-transform: uppercase;
text-align: left;
padding: 6px 6px 6px 12px;
background: #CAE8EA no-repeat;
}
td {
border-right: 1px solid #C1DAD7;
border-bottom: 1px solid #C1DAD7;
background: #fff;
font-size:14px;
padding: 6px 6px 6px 12px;
color: #4f6b72;
}
td.alt {
background: #F5FAFA;
color: #797268;
}
th.spec,td.spec {
border-left: 1px solid #C1DAD7;
}
/*---------for IE 5.x bug*/
html>body td{ font-size:14px;}
tr.select th,tr.select td
{
background-color:#CAE8EA;
color: #797268;
}
    h5{
        position: absolute;
        right: 5%;
        color: darkviolet;
    }
</style>
</head>
<body>
<h5><a href={% url "list" %}>点击查看历史测试记录</a></h5>
<h4>测试结果汇总</h4>

<table class="table" cellspacing="0" summary="The technical specifications of the Apple PowerMac G5 series">
<tr>
<th class="spec">序号</th>
<th>测试条件</th>
<th>测试次数</th>
<th>平均耗时</th>
</tr>
    {% for k in count_list %}
        <tr>
        <td>{{ forloop.counter }}</td>
{#        {% for k2,v2 in v1.itmes %}#}
        <td class="spec">{{ k.0 }}</td>
        <td>{{ k.1.count }}</td>
        <td class="alt" id={{ forloop.counter }}>
            <script>
                document.getElementById({{ forloop.counter }}).innerHTML=formatDuring({{ k.1.cost_time }});
            </script>
        </td>
{#        {% endfor %}#}
        </tr>
    {% endfor %}
</table>
<br>
<h4>测试数据记录</h4>
<table class="table" cellspacing="0" summary="The technical specifications of the Apple PowerMac G5 series">
<tr>
    <th class="spec">序号</th>
    <th>测试条件</th>
    <th>开始时间</th>
    <th>结束时间</th>
    <th>消耗时间</th>
</tr>
    {% for i in all_list %}
    <tr>
        <td class="spec">{{ forloop.counter }}</td>
        <td>{{ i.numbers }}_{{ i.subtype }}_{{ i.type }}</td>
        <td id={{ i.time }} class="alt">
            <script>
                document.getElementById({{ i.time }}).innerHTML=getLocalTime({{ i.time }});
            </script>
        </td>
        <td id={{ i.last }}>
            <script>
                document.getElementById({{ i.last }}).innerHTML=getLocalTime({{ i.last }});
            </script>
        </td>
        <td id={{ i.duringTime }}>
            <script>
                document.getElementById({{ i.duringTime }}).innerHTML=formatDuring({{ i.duringTime }});
            </script>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>